.sideBar {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 100 !important;
  background-color: white;
  transform: translateX(0%);
  transition: 5s;
  width: 25%;
  height: 90%;

  .headWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    .cancelBtn {
      color: #1187cf;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }
    .sideBarInfo {
      margin-top: 5px;
      text-align: center;
      border-radius: 15px;
      padding: 5px;

      .storeName {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
      }
      .region {
        font-size: 15px;
        font-weight: bold;
        background-color: pink;
        border-radius: 15px;
      }

      .application {
        font-size: 15px;
        font-weight: bold;
        background-color: #77dd77;
        border-radius: 15px;
      }
    }
  }

  .timeChart {
    margin: 0 auto;
    margin-top: 8px;
    width: 95%;
    height: 30%;
  }
  .dateChart {
    margin: 0 auto;
    width: 95%;
    height: 35%;
    margin-bottom: 20px;
  }
  .applicationChart {
    margin: 0 auto;
    width: 95%;
    height: 20%;
  }
}
